/*https://images.unsplash.com/photo-1647532272618-d3557?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80  */

/*Importing font family -poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,400&display=swap');
/*reset browser default style*/
 html{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif; 
 }

 /*HEADER SECTION*/

 header{
     background-image: url(https://images.unsplash.com/photo-1647532272618-8d0cca8d3557?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
     background-size: cover;
     background-position: 50%;
     height: 80vh;
     position: relative;
      }

    .header-overlay{
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        height: 80vh;
        width: 100%;
        top: 0;
        width: 10opx;
      }

      .header-content-wrapper{
      position: relative; 
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
      }

      .logo{
          font-size: 30px;
          font-weight: bold;
          color: #ff000a;
      }

      /*NAVLINKS8*/
      .nav-links{
          color: white;
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;/*remove borderline*/
        transition: 0.5s;
        padding: 10px;
        margin: 10px;
      }

      .nav-links.active{
          color: #ff000a;
      }

      .hero-wraper{
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 7opx;
      }
      
      .profile-image{
          width: 100px;
          height: 100px;
          border-radius: 50%;
      }

      .full-name{
          color: white;
          font-size: 35px;
          text-transform: uppercase;
          margin: 10px 0;

      }

      .brief{
          color: white;
          font-size:24px;
          font-weight: bold;
          margin-bottom: 10px;

          }

    /*icons*/
    .hero-media-wrapper svg{
        width: 30px;
        height: 30px;
        fill: white;
        border: 1px solid white;
        border-radius: 50%;
        padding: 4px;
        margin: 10px;
        transition: 0.5s;

    }

    .btn{
        background-color:#ff000a;
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 14px;
        border-radius:26px ;
        border: none;
        margin: 10px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.5s;
    }

    .btn:hover{
        opacity: 0.8;
        background-color:white ;
    }

    .download-btn{
        background-color: white;
        color: #ff000a;

    }

    .download-btn:hover{
        opacity: 0.8;
        background-color: #ff000a;
        color: white;
    }



    /* MAIN BODY CONTENT*/
    main{
        margin-top: 90px;
    }

    .section{
        padding: 40px;
    }


    .section h2{
        font-size: 30px;
        font-weight: bold;
        color: #ff000a;
        margin-bottom: 10px 0;
        text-transform: uppercase;
        text-align: center;
    }

    .about-me{
        width: 80%;
        margin: 0 auto;
    }
    

    .about-brief{
        text-align: center;
        margin-top: 20px;
        line-height: 2;
    }

    /*CURRENTLY WORKING AT*/
    .place-of-work-section{
        margin: 40px 0;
        background-color: #ff0000;
        min-height: 300px;

        
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        
    }

    .place-of-work-section h2{
        color: white;
    }
    .place-of-work-wrapper{
        text-align: center;
        margin: 40px 0;
    }

    .place-of-work-pill{
        background-color: black;
        color: white;
        padding: 10px;
        margin: 4px;
        border-radius: 26px;
        font-size: 14px;
        transition: 1.5s;


    }

    /*PROJECT CARDS*/
    .project-card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 2rem;
    }

    .project-card{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
    }

    .project-card img{
        width: 100%;
        height: 200px;
    }

    .project-card img {
        width: 100%;
        height: 200px;
      }
      
      .card-content {
        width: 300px;
        padding: 2px 16px;
      }
      
      .project-title {
        color: #f9320a;
        margin-bottom: 10px;
        font-size: 17px;
      }
      
      .project-brief {
        font-size: 14px;
      }
      
      .project-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
      }
      
      .project-links svg {
        width: 20px;
        height: 20px;
        fill: #f9320a;
      }
      
      /* STACK SECTION  */
      
      .stack-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
        flex-wrap: wrap;
      }
      
      /* chrome */
      .stack-progress::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 100px;
      }
      
      .stack-progress::-webkit-progress-value {
        background-color: #f9320a;
        border-radius: 100px;
      }
      
      /* firefox */
      .stack-progress::-moz-progress-bar {
        background-color: #eee;
        border-radius: 100px;
      }
      
      /* IE10 */
      .stack-progress {
        color: #f9320a;
        border-radius: 100px;
      }
      
      .stack-progress-wrapper label {
        display: block;
      }
      
      /* service section */
      .service-section {
        margin: 40px 0;
        min-height: 300px;
        background-color: #ff0000;
      }
      
      .service-section h2 {
        color: #fff;
        margin-bottom: 40px;
      }
      
      .service-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
      }
      
      .service-card {
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        padding: 20px;
      
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      
      .service-card:hover {
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
        background-color: #fff;
      }
      
      .service-card svg {
        width: 30px;
        height: 30px;
        color: #000;
        margin-bottom: 10px;
      }
      
      .service-card-content {
        text-align: center;
        padding: 2px 16px;
        width: 300px;
      }
      
      .service-title {
        color: #f9320a;
        margin-bottom: 10px;
        font-size: 17px;
      }
      
      .service-brief {
        font-size: 14px;
        color: #000;
      }
      
      /* WORK WITH ME FORM SECTION */
      .form-section form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
      }
      
      .form-group label {
        display: block;
        margin-bottom: 10px;
      }
      
      .form-group input {
        border: 1px solid #f9320a;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
        margin-bottom: 10px;
        font-size: 14px;
      }
      
      .form-group textarea {
        border: 1px solid #f9320a;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
        height: 350px;
        resize: none;
        margin-bottom: 10px;
      }
      
      /* social media */
      .social-account-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 100px;
      }
      
      .social-account-wrapper svg {
        width: 30px;
        height: 30px;
        fill: #f9320a;
      }
      
      .social-account-wrapper svg:hover {
        fill: #000;
        cursor: pointer;
        position: relative;
        bottom: 10px;
      }